
 body {
  background: grey;
  font-size: 1.2em;
  font-family: Georgia,Serif;;
 }

 div#container {
  margin: 0 auto;
  background: white !important;
  width:800px;
  padding: 5px;
}
.corners {
    border-radius: 10px;
  -moz-border-radius: 10px;

ul#article_list{
    list-style-type: none;
    margin: 0 20px 0 0;
  }
    .article_mini {
      padding:5px ;
      margin: 5px 0;
      textarea{
        width:55em;
        height:20em;
      }
      .private {
        color: red;
        font-weight: bold;
      }
      .public {
        color: green;
        font-weight: bold;
      }
      span.controlls{
        float: right;
        *{
          margin: 5px
        }
        .delete {

          font-weight: bold;
          color:red;
        }
      }
      h6.time{
        // color:red;
        margin: -20px 0 0 0;
      }
    }

  -webkit-border-radius: 10px;
  border: 1px solid grey;

}
#signup-view {
  margin: 0 auto;
  background: white !important;
  width:300px;
  padding: 5px;
  .control-group {
    margin: 10px 0;
    text-align: center;

    * {
      margin:5px 0;
    }
  }
  .btn {
    margin: 0 0 0 230px;
  }
}
.clear { clear: both; }
.corners.login_link {
  width: 115px;
  float: right;
  padding: 2px;
}
#errors {
  text-align:center;
  color: red;
  font-weight: bold;
}
.correct {
  text-align:center;
  color: green;
  font-weight: bold;
}