
ul#article_list{
    list-style-type: none;
    margin: 0 20px 0 0;
  }
    .article_mini {
      padding:5px ;
      margin: 5px 0;
      textarea{
        width:55em;
        height:20em;
      }
      .private {
        color: red;
        font-weight: bold;
      }
      .public {
        color: green;
        font-weight: bold;
      }
      span.controlls{
        float: right;
        *{
          margin: 5px
        }
        .delete {

          font-weight: bold;
          color:red;
        }
      }
      h6.time{
        // color:red;
        margin: -20px 0 0 0;
      }
    }

