div#container {
  margin: 0 auto;
  background: white;
  width:800px;
  padding: 5px;
  div#create_article{
    padding: 3px;
    width: 400px;
    margin-left: 40px;
  }

}
ul#article_list{
    list-style-type: none;
    margin: 0 20px 0 0;
  }
    .article_mini {
      padding:5px ;
      margin: 5px 0;
      textarea{
        width:55em;
        height:20em;
      }
      .private {
        color: red;
        font-weight: bold;
      }
      .public {
        color: green;
        font-weight: bold;
      }
      span.controlls{
        float: right;
        *{
          margin: 5px
        }
        .delete {

          font-weight: bold;
          color:red;
        }
      }
      h6.time{
        // color:red;
        margin: -20px 0 0 0;
      }
    }
.corners {
    border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border: 1px solid grey;

}
